
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

h1 {
    text-align: center;
    padding: 1.2rem;
    font-size: clamp(3rem, 2vw, 4rem);
}

ul {
    padding: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: clamp(.5rem, 2vw, 1.2rem);
}

li {
    padding: clamp(.8rem, 2vw, 2rem);
    border-radius: 5px;
    background: #343a40;
    display: grid;
    list-style: none;
    overflow: hidden;
    transition: all .6s;
}
li:hover {
    box-shadow: 0 0 5px 2px black;
}
li:hover img {
    filter: grayscale(0);
}

li a {
    padding-top: clamp(.8rem, 2vw, 2rem);
    text-decoration: none;
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: #ffffff;
}

li img {
    filter: grayscale(1);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}