<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/index.css">
    <title>{{ data.title }}</title>
</head>
<body>
    <h1> Estructuras de datos </h1>

    <ul>
        {% for struct in data.listStructs %}
        <li>
            <img src="{{struct.img}}" alt="icono">
            <a href="{{struct.url}}">
                {{ struct.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>